.products-page{

max-width:1200px;

margin:auto;

padding:40px;

}

.products-page h1{

margin-bottom:20px;

text-align:center;

font-size:40px;

}

.search-box{

width:100%;

padding:15px;

font-size:18px;

margin-bottom:30px;

border-radius:8px;

border:1px solid #ccc;

outline:none;

}

.products-grid{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(300px,1fr));

gap:30px;

margin-top:30px;

}